<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <!-- dev -->
      <package id="keypirinha"/>
      <package id="python"/>
      <package id="pipenv"/>
      <package id="emacs"/>
      <package id="zeal"/>
      <!-- Latex -->
      <package id="texlive"/>
      <package id="strawberryperl"/>
      <package id="latexmk"/>
      <!-- Mail -->
      <package id="thunderbird"/>
    </packages>
